extends layout-myinfo

block title
    | 个人中心

block container
    div.page-header
        h2 修改密码
    form.form-modifypassword
        div.input-container.col-xs-12
            div.col-xs-3
                div.input-title 原始密码：
            div.input-form.col-xs-9
                input#input-oldPassword.form-control(type='password',name='old_password')
        div.input-container.col-xs-12
            div.col-xs-3
                div.input-title 新密码：
            div.input-form.col-xs-9
                input#input-newPassword.form-control(type='password',name='new_password')
        div.input-container.col-xs-12
            div.col-xs-3
                div.input-title 确认密码：
            div.input-form.col-xs-9
                input#input-confirm-newPassword.form-control(type='password',name='confirm_password')
    button.btn.btn-danger.btn-confirm-password 确认