extends layout-myinfo

block title
    | 个人中心

block container
    div.userinfo.col-xs-8
        div.samll-container
            div.samll-container-title
                a 已买到的宝贝
    div.shoppingcart.col-xs-4
        div.samll-container
            div.samll-container-title
                a 购物车
    div.sellout.col-xs-4
        div.samll-container
            div.samll-container-title
                a 出售中的宝贝
    div.lovestore.col-xs-4
        div.samll-container
            div.samll-container-title
                a 收藏的店铺
    div.loveitem.col-xs-4
        div.samll-container
            div.samll-container-title
                a 收藏的宝贝