extends layout-myinfo

block title
    | 个人中心

block js
    script(type='text/javascript', src='/assest/js/myinfo-index.js')  

block container
    if store
        input.user-info-store-id(type='hidden',value='#{store.id}')
    div.userinfo.col-xs-8
        div.samll-container
            div.samll-container-title
                a 已买到的宝贝
        img.loading-img(src='/static/img/loading.gif')
    div.shoppingcart.col-xs-4
        div.samll-container
            div.samll-container-title
                a 购物车
        img.loading-img(src='/static/img/loading.gif')
    div.sellout.col-xs-4
        div.samll-container
            div.samll-container-title
                a 出售中的宝贝
        img.loading-img(src='/static/img/loading.gif')
    div.lovestore.col-xs-4
        div.samll-container
            div.samll-container-title
                a 收藏的店铺
        //- img.loading-img(src='/static/img/loading.gif')
        div 没有收藏的店铺
    div.loveitem.col-xs-4
        div.samll-container
            div.samll-container-title
                a 收藏的宝贝
        //- img.loading-img(src='/static/img/loading.gif')
        div 没有收藏的商品
    div#item-sell-template.small-container-body
        a(href='')
            img.small-container-image
            span.small-container-name
    div#item-buy-template.buy-item-container.col-xs-3
        div.userinfo-buy-img-container
            img.userinfo-buy-img
        a.buy-item-name(href='')
        div 订单状态：
        div.buy-item-status
        div 交易数量：
        div.buy-item-number
        div 实付款：
        div.buy-item-price