extends layout-myinfo

block title
    | 我要开店

block js
    script(type='text/javascript', src='/assest/js/store-open.js')

block container
    div.page-header
        h2 开设店铺
    form#store-form.form-horizontal.col-xs-11(role="form")
        div.form-group
            label.col-xs-2.control-label *昵称:
            div.col-xs-4
                input.form-control(type="text",placeholder="#{credential.name}",disabled)
        div.form-group
            label.col-xs-2.control-label *店铺名称:
            div.col-xs-4
                input#store-name.form-control(type="text",name='store_name',value='#{credential.name}的店铺')
            div 店铺名称不超过10个字符
        div.form-group
            label.col-xs-2.control-label *店铺类目:
            div.col-xs-4
                select#store-classify.form-control(name='store_classify')
                    for category in categoryList
                        option(value='#{category.id}') #{category.name}
        div.form-group
            label.col-xs-2.control-label 店铺简介:
            div.col-xs-4
                textarea#store-desc.form-control(type="text",name='store_desc')
        div.form-group
            label.col-xs-2.control-label *联系地址:
            div.col-xs-4
                input#store-address.form-control(type="text",name='store_address')
    button#store-submit-btn.btn.btn-success.col-xs-offset-2.col-xs-1 确认
    a.btn.btn-default.col-xs-offset-1.col-xs-1(href='/') 取消